<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Car[]|\Cake\Collection\CollectionInterface $cars
 */
?>
<nav class="large-2 medium-2 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Car'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="cars index large-10 medium-10 columns content">
    <h3><?= __('Cars') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= __('Mark') ?></th>
                <th scope="col"><?= __('Model') ?></th>
                <th scope="col"><?= $this->Paginator->sort('vin') ?></th>
                <th scope="col"><?= $this->Paginator->sort('import_cost') ?></th>
                <th scope="col"><?= $this->Paginator->sort('transportation_cost') ?></th>
                <th scope="col"><?= $this->Paginator->sort('upkeep') ?></th>
                <th scope="col"><?= $this->Paginator->sort('car_loot_cost') ?></th>
				<th scope="col"><?= __('Selling Cost') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($cars as $car): ?>
            <tr>
                <td><?= h($car->mark_string) ?></td>
                <td><?= h($car->model_string) ?></td>
                <td><?= $this->Html->link($car->vin, ['action' => 'view', $car->id]) ?></td>
                <td><?= h($car->import_cost) ?></td>
                <td><?= h($car->transportation_cost) ?></td>
                <td><?= $this->Number->format($car->upkeep) ?></td>
                <td><?= h($car->car_loot_cost) ?></td>
				<td><?= h($car->selling_cost) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $car->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $car->id], ['confirm' => __('Are you sure you want to delete # {0}?', $car->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
